@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "peckham";
  src: url("../font/PeckhamPress-Trial.otf");
}
body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  color: #808080;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: regular;
  background-color: #000000;
}

.__container {
  max-width: 75rem;
  padding: 0 1.875rem;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100%;
}

.header-container .main-block__logo {
  max-width: 10rem;
  padding: 55px 0 10px 0;
}
.header-container .header-container__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .header-container .header-container__block {
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 50px 0;
  }
}
.header-container .header-container__block .card-facilities__block {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 700px) {
  .header-container .header-container__block .card-facilities__block {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.header-container .header-container__block .card-facilities__block :not(:last-child) {
  margin: 0 20px 0 0;
}
.header-container .header-container__block .card-facilities__block .card-facilities .card-facilities__anim {
  display: flex;
  align-items: flex-end;
}
.header-container .header-container__block .card-facilities__block .card-facilities .card-facilities__anim img {
  max-width: 100%;
}
.header-container .header-container__block .card-facilities__block .card-facilities .card-facilities__anim :not(:last-child) {
  margin: 0 8px 0 0;
}
.header-container .header-container__block .card-facilities__block .card-facilities .card-facilities__anim .anim-date {
  font-size: 2.1875rem;
}
.header-container .header-container__block .card-facilities__block .card-facilities .card-facilities__anim .anim-month, .header-container .header-container__block .card-facilities__block .card-facilities .card-facilities__anim .anim-date {
  font-weight: 800;
  letter-spacing: 2%;
  color: white;
}
.header-container .header-container__block .main-block__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header-container .header-container__block .main-block__card > :not(:last-child) {
  margin: 0 0 50px 0;
}
.header-container .header-container__block .main-block__card .card-title {
  font-family: peckham;
  font-size: 3.7rem;
  color: #fff;
  line-height: 107%;
  letter-spacing: 2%;
}
.header-container .header-container__block .main-block__card .card-desc, .header-container .header-container__block .main-block__card .card-facilities__desc {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 160%;
  max-width: 28rem;
}
.header-container .header-container__block .card-button {
  color: #000000;
  font-weight: 800;
  font-size: 1.4rem;
  background-color: #2BF6FA;
  padding: 0.6rem 2.5rem;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.header-container .header-container__block .card-button:hover {
  transform: scale(1.2);
  box-shadow: 0 0 100px 1px #fff;
  border-radius: 30px;
}
.header-container .header-container__block .card-button span {
  display: block;
  font-weight: 600;
  font-size: 0.6rem;
}
.header-container .header-container__block .card-buynow :not(:last-child) {
  margin: 0 0 15px 0;
}
.header-container .header-container__block .card-buynow .card-buynow__text, .header-container .header-container__block .card-buynow .card-buynow__delivery {
  color: white;
  font-weight: 500;
  line-height: 145%;
  font-size: 1.1rem;
}
.header-container .header-container__block .card-buynow .card-buynow__delivery {
  font-size: 1.25rem;
  color: #2BF6FA;
}
.header-container .header-container__block .card-buyicons img {
  max-width: 10.7rem;
}
.header-container .header-container__block .card-buyicons :not(:last-child) {
  margin: 0 30px 0 0;
}
.header-container .header-container__block .main-block__img {
  max-width: 36.5rem;
  position: relative;
}
.header-container .header-container__block .main-block__img .img-image {
  width: 100%;
  height: 100%;
  position: relative;
}
.header-container .header-container__block .main-block__img .img-bg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.main {
  width: 100%;
  height: 100%;
}
.main .main-container {
  width: 100%;
}

.main-container__delivery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 50px 0;
}
@media (max-width: 690px) {
  .main-container__delivery {
    margin: 0 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px 0;
  }
}
.main-container__delivery img {
  max-width: 9.3rem;
}
.main-container__delivery .delivery-block {
  display: flex;
  align-items: center;
}
.main-container__delivery .delivery-block img {
  max-width: 100%;
  height: 100%;
}
.main-container__delivery .delivery-block .delivery-block__title {
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 103%;
  font-style: italic;
  color: white;
}

.main-container__title {
  font-size: 7rem;
  font-family: peckham;
  font-style: black;
  text-align: center;
  opacity: 0.2;
}
@media (max-width: 800px) {
  .main-container__title {
    font-size: 5rem;
  }
}
@media (max-width: 600px) {
  .main-container__title {
    font-size: 4rem;
  }
}
@media (max-width: 500px) {
  .main-container__title {
    font-size: 2rem;
  }
}

.main-block {
  width: 100%;
  padding: 100px 0;
}

.main-block__content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  .main-block__content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 0;
  }
}
.main-block__content .content-image {
  position: relative;
}
.main-block__content .content-image .content-image__img {
  width: 31.25rem;
}
@media (max-width: 500px) {
  .main-block__content .content-image .content-image__img {
    width: 20rem;
  }
}
.main-block__content .content-image .content-image__bg {
  width: 7rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.content-rigth {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 40.6rem;
}
@media (max-width: 530px) {
  .content-rigth {
    max-width: 100%;
  }
}
.content-rigth .content-right__title {
  font-family: peckham;
  font-size: 2.5rem;
  color: white;
  letter-spacing: 2%;
  margin-bottom: 25px;
}
@media (max-width: 1100px) {
  .content-rigth .content-right__title {
    text-align: center;
  }
}
.content-rigth .content-right__conteiner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 530px) {
  .content-rigth .content-right__conteiner {
    flex-wrap: wrap;
    align-items: center;
    justify-centent: center;
    gap: 25px 0;
  }
}
.content-rigth .content-right__conteiner .content-right__list {
  margin: 0 50px 0 0;
}
@media (max-width: 600px) {
  .content-rigth .content-right__conteiner .content-right__list {
    margin: 0 15px 0 0;
  }
}
@media (max-width: 530px) {
  .content-rigth .content-right__conteiner .content-right__list {
    margin: 0;
  }
}
.content-rigth .content-right__conteiner .content-right__list :not(:last-child), .content-rigth .content-right__conteiner .content-left__list :not(:last-child) {
  margin: 0 0 25px 0;
}
.content-rigth .content-right__conteiner .content-right__list .list-first, .content-rigth .content-right__conteiner .content-left__list .list-first {
  display: flex;
  align-items: center;
  letter-spacing: 2%;
  line-height: 150%;
  max-width: 20rem;
}
@media (max-width: 530px) {
  .content-rigth .content-right__conteiner .content-right__list .list-first, .content-rigth .content-right__conteiner .content-left__list .list-first {
    max-width: 100%;
  }
}
.content-rigth .content-right__conteiner .content-right__list .list-first__icon, .content-rigth .content-right__conteiner .content-left__list .list-first__icon {
  width: 2.5rem;
  background-color: #1B1B1B;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  margin-right: 10px;
}

.benefits {
  padding: 100px 0 100px 0;
  flex-direction: row-reverse;
}

.benefits-right {
  margin: 0 50px 0 0;
}
@media (max-width: 530px) {
  .benefits-right {
    margin: 0;
  }
}

.benefits-img {
  width: 30.3rem;
  border-radius: 1.2rem;
  max-width: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.include-content {
  padding: 100px 0 0 0;
  align-items: center;
}
@media (max-width: 1100px) {
  .include-content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 0;
  }
}

.include-img {
  position: relative;
}

.include-right {
  margin: 0;
}

.include-title {
  max-width: 34.3rem;
}

.include-container li {
  display: list-item;
  list-style-type: disc;
  list-style-position: outside;
}

.include-list {
  max-width: 100%;
}

.main-block__recovery {
  max-width: 100%;
  height: 100%;
  display: flex;
  background-image: url("../images/icons/recovery/recovery-bg.png");
  background-size: cover;
  background-position: center;
}
.main-block__recovery .recovery-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1320px) {
  .main-block__recovery .recovery-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 0;
  }
}
.main-block__recovery .recovery-container .recovery-container__image {
  width: 42.8rem;
}
@media (max-width: 800px) {
  .main-block__recovery .recovery-container .recovery-container__image {
    width: 35.8rem;
  }
}
@media (max-width: 600px) {
  .main-block__recovery .recovery-container .recovery-container__image {
    width: 25.8rem;
  }
}
@media (max-width: 480px) {
  .main-block__recovery .recovery-container .recovery-container__image {
    width: 18rem;
  }
}
.main-block__recovery .recovery-container .recovery-container__title {
  display: flex;
  flex-direction: column;
}
.main-block__recovery .recovery-container .recovery-container__title .title-dark {
  font-family: peckham;
  color: transparent;
  font-size: 4.75rem;
  -webkit-text-stroke: 1px white;
  opacity: 0.3;
}
@media (max-width: 700px) {
  .main-block__recovery .recovery-container .recovery-container__title .title-dark {
    font-size: 2.75rem;
  }
}
.main-block__recovery .recovery-container .recovery-container__title .title-white {
  font-family: peckham;
  color: white;
  font-size: 4.75rem;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media (max-width: 700px) {
  .main-block__recovery .recovery-container .recovery-container__title .title-white {
    font-size: 2.75rem;
  }
}
.main-block__recovery .recovery-container .recovery-container__title .title-decoration {
  margin: 50px 0 0 0;
}
.main-block__recovery .recovery-container .recovery-container__title .title-decoration::before {
  content: "";
  display: inline-block;
  width: 50%;
  height: 3px;
  background-color: #2BF6FA;
  border-radius: 30%;
  margin: 0 0 25px 0;
  animation-name: lines;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation-direction: alternate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.last-anim {
  animation-name: drag;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

.first-anim {
  animation-name: dragrevers;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

@keyframes drag {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-180%);
  }
}
@keyframes dragrevers {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(90%);
    opacity: 0;
  }
  100% {
    transform: translateY(180%);
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.footer .footer-text {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 45px 0;
}
.footer .footer-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.footer .footer-container .footer-container__video {
  max-width: 100%;
  position: relative;
}
.footer .footer-container .footer-container__button {
  color: #000000;
  font-weight: 800;
  font-size: 2.2rem;
  background-color: #2BF6FA;
  padding: 0.8rem 3rem;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  bottom: 100px;
  transition: 0.5s;
}
.footer .footer-container .footer-container__button:hover {
  transform: scale(1.2);
  box-shadow: 0 0 100px 1px #fff;
  border-radius: 30px;
}

.buttons {
  position: absolute;
  bottom: 50%;
}

.buttons button {
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  text-align: center;
  outline: 30px solid rgba(255, 255, 255, 0.15);
  animation-name: button;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.buttons button::before {
  content: "►";
  display: inline-block;
  font-size: 3.1rem;
  color: #1B1B1B;
  -webkit-font-smoothing: antialiased;
  margin: 0 0 0 8px;
  animation: none;
}

@keyframes button {
  0% {
    outline: none;
  }
  100% {
    outline: 30px solid rgba(255, 255, 255, 0.15);
  }
}
.buttons button.play:before {
  content: "►";
}

.buttons button.pause {
  animation: none;
  opacity: 0.1;
  outline: none;
}

.buttons button.pause:before {
  content: "ΙΙ";
  font-size: 3.75rem;
  margin: 0;
}

.swiper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.swiper-slide {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.main-block__smarthit {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #1B1B1B;
}
.main-block__smarthit .smarthit-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
@media (max-width: 1100px) {
  .main-block__smarthit .smarthit-block {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 0;
  }
}
.main-block__smarthit .smarthit-block .smarthit-block__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 43.75rem;
}
.main-block__smarthit .smarthit-block .smarthit-block__content .content-block {
  margin: 0 0 50px 0;
}
.main-block__smarthit .smarthit-block .smarthit-block__content .content-block :not(:last-child) {
  margin: 0 0 20px 0;
}
.main-block__smarthit .smarthit-block .smarthit-block__content .content-block .content-block__title {
  font-family: peckham;
  font-size: 3.5rem;
  color: white;
}
.main-block__smarthit .smarthit-block .smarthit-block__content .content-block .content-block__pretitle {
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  line-height: 150%;
  font-family: roboto sans-serif;
}
.main-block__smarthit .smarthit-block .smarthit-block__content .content-block .content-block__text {
  font-size: 1.4rem;
  color: white;
  line-height: 150%;
  font-family: roboto sans-serif;
}

.content-cards {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .content-cards {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 70px 0;
  }
}

.content-cards__card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 20px;
  letter-spacing: 1px;
  border: 2px solid #2BF6FA;
}
.content-cards__card :not(:last-child) {
  margin: 0 0 20px 0;
}
.content-cards__card .card-smart__title {
  font-size: 1.1rem;
  color: white;
  font-family: roboto sans-serif;
}
.content-cards__card .card-smart__pretitle {
  font-size: 1.5rem;
  font-weight: 800;
  display: flex;
  align-items: center;
}
.content-cards__card .card-smart__pretitle .pretitle-icon {
  max-width: 1.25rem;
  margin-right: 10px;
}
.content-cards__card .card-smart__desc {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}

.card-longpress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 0 0;
}
.card-longpress .card-longpress__button {
  color: #1B1B1B;
  font-size: 3.75rem;
  background-color: #2BF6FA;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-longpress .card-longpress__button::before {
  content: "▪";
  margin: 0 0 5px 0;
}
.card-longpress .card-longpress__desc {
  font-size: 1rem;
  color: #1B1B1B;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #fff;
  border-radius: 50px;
  padding: 12px 20px;
  text-align: center;
}

.smarthit-block__image {
  max-height: 100vh;
}

.slider-smarthit {
  min-height: 100vh;
  display: flex;
  background-color: #1B1B1B;
}
.slider-smarthit .slider-smarthit__block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  .slider-smarthit .slider-smarthit__block {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 0;
  }
}
.slider-smarthit .slider-smarthit__block .slider-image {
  width: 500px;
  height: 500px;
}
.slider-smarthit .slider-smarthit__block .slider-image img {
  width: 31.2rem;
  height: 31.2rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50px;
}
@media (max-width: 500px) {
  .slider-smarthit .slider-smarthit__block .slider-image img {
    width: 20rem;
    height: 20rem;
  }
}
.slider-smarthit .slider-smarthit__block .slider-block__content {
  display: flex;
  flex-direction: column;
  max-width: 37.5rem;
}
.slider-smarthit .slider-smarthit__block .slider-block__content > :not(:last-child) {
  margin: 0 0 50px 0;
}
.slider-smarthit .slider-smarthit__block .slider-block__content .slider-block :not(:last-child) {
  margin: 0 0 20px 0;
}
.slider-smarthit .slider-smarthit__block .slider-block__content .slider-block .slider-title {
  font-family: peckham;
  color: white;
  font-size: 2.2rem;
}
.slider-smarthit .slider-smarthit__block .slider-block__content .slider-block .slider-text {
  color: #fff;
  font-weight: 500;
  opacity: 0.8;
  line-height: 150%;
}

.slider-facilities__block {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-facilities__block .slider-facilities__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.slider-facilities__block .slider-facilities__content .slider-facilities {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 1100px) {
  .slider-facilities__block .slider-facilities__content .slider-facilities {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 0;
  }
}
.slider-facilities__block .slider-facilities__content .slider-facilities .facilities-image {
  width: 18.75rem;
  height: 18.75rem;
}
.slider-facilities__block .slider-facilities__content .slider-facilities .facilities-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50px;
}

.facilities-card {
  max-width: 37.5rem;
}
.facilities-card::before {
  content: "";
  display: inline-block;
  width: 50%;
  height: 2px;
  background-color: #2BF6FA;
  margin: 0 0 25px 0;
  animation-name: lines;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation-direction: alternate;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
.facilities-card :not(:last-child) {
  margin: 0 0 20px 0;
}
.facilities-card .slider-facilities__title {
  font-family: peckham;
  color: white;
  font-size: 32px;
}
.facilities-card .slider-facilities__title span {
  color: #2BF6FA;
  font-family: roboto;
  font-weight: 900;
  font-size: 2.2rem;
}
.facilities-card .slider-facilities__text {
  color: #fff;
  font-weight: 500;
  opacity: 0.8;
  line-height: 150%;
  font-size: 1rem;
}

@keyframes lines {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 50%;
    opacity: 1;
  }
}
.reverse {
  flex-direction: row-reverse;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 0.6rem;
  height: 0.6rem;
  background-color: #fff;
}

.swiper-pagination-bullet-active {
  width: 1rem;
  height: 1rem;
  background-color: #2BF6FA;
}/*# sourceMappingURL=main.css.map */